
#nav, #nav ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	height:30px;
	line-height:25px;
	float: right;
	width: 100%;
	margin-bottom:10px;
	margin-top:15px;
	background:#D8D8D8 ;
	z-index:100 !important;
}
#nav li:hover{
	background:#84A6D3;
	}
#nav  li ul li:hover{
background:#000445 ;	
}
#nav  li ul li:hover a{
	color:#fff;
}

#nav a {
	display: block;
	padding:3px 10px 3px 10px;
	text-decoration:none;
	color:#04156C;
	font-size:14px;
}

#nav li { /* all list items */
	float: right;
	height:30px;
	
}


#nav li ul { /* second-level lists */
	position: absolute;
	margin-top:0px;
	width: 200px;
	background:#84A6D3;
	float:left;	
	display:none;
}

#nav li ul li {
	width:100%;
	float:right;
	clear:both;
	background:#84A6D3;
	text-align:right;
	border-bottom:1px solid #FFF;

	
	}

#nav li ul ul { /* third-and-above-level lists */
	margin: -1em 10em 0 0;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul { /* lists nested under hovered list items */

}
